<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div ng-controller="FindAll" ng-model="empty">
    <div class="alert alert-warning" role="alert" id="allerts_default" ng-if="empty == undefined">
      There was no invoices in database.
    </div>
    <div class="alert alert-info" role="alert" id="allerts_default" ng-if="empty != undefined">
      Found: {{InvoiceDatabase.length}} invoices.
    </div>
    <div>
      <table class="table table-hover" id="records" ng-if="empty != undefined">
        <thead>
          <tr>
            <th scope="col">Id <span style="color:red">(to remove)</span></th>
            <th scope="col">Type</th>
            <th scope="col">Buyer name</th>
            <th scope="col">Seller name</th>
            <th scope="col">Issue date</th>
            <th scope="col">Due date</th>
            <th scope="col">Comments</th>
            <th scope="col" style="text-align:center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in InvoiceDatabase">
            <td>{{x.id}}</td>
            <td>{{x.type}}</td>
            <td>{{x.buyer.name}}</td>
            <td>{{x.seller.name}}</td>
            <td>{{x.issueDate}}</td>
            <td>{{x.dueDate}}</td>
            <td>{{x.comments}}</td>
            <td style="text-align:center"><button type="button" class="btn btn-primary btn-sm" style="margin-right: 20px">Update</button>
              <button type="button" class="btn btn-danger btn-sm" style="margin-right: 20px">Remove</button>
              <button type="button" class="btn btn-info btn-sm">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>