<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <form ng-controller="RemoveById" ng-submit="submit()" ng-model="formData.answer">
        <div class="alert alert-warning alert-dismissible fade show" id="allerts_success" role="alert" ng-if="formData.answer == 200">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Invoice removed successfully.
        </div>
        <div class="alert alert-warning alert-dismissible fade show" id="allerts_error" role="alert" ng-if="formData.answer != 200 && formData.answer != undefined">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Invoice not found.
        </div>
        <div class="input-group mb-3" style="margin-top:15px">
            <input type="number" class="form-control" ng-model="invoice_id" placeholder="Type id here" aria-label="Type id here"
                aria-describedby="basic-addon2">
            <button type="submit" id="submit" class="btn btn-danger">Remove invoice</button>
        </div>
    </form>
</body>

</html>